* {
  box-sizing: border-box;
}

body {
  font-family: "Lato";
}

input::placeholder {
  font-weight: normal;
  opacity: 0.4;
  color: #343434;
  font-family: Lato;
  font-size: 20px;
  margin: 0px 8px 0px 8px;
}
input:focus {
  outline: none;
  border: solid 2px #e057db;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* OVERLAY */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #343434; /* Black background with opacity */
  opacity: 0.7;
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  display: block;
}

/* POPUPS */
.popup-style {
  position: fixed;
  width: 600px;
  height: fit-content;
  border-radius: 10px;
  background: #fff;
  padding: 48px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
}

.popup-text-container {
  display: flex;
  margin: 8px;
  gap: 0px;
  padding: 8px;
}

.popup-text {
  color: #343434;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 1px;
}

.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  gap: 16px;

  .input-style {
    display: flex;
    width: 60%;
    height: 48px;
    padding: 8px 16px 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 10px;
    background: #f1f0f9;
    font-family: lato;
    font-size: 20px;
    margin: 0px 8px 0px 8px;
  }

  .primary-button {
    display: flex;
    width: 60%;
    height: 48px;
    padding: 8px 16px 8px 16px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #c04abc;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: right;
    text-transform: uppercase;
    letter-spacing: 1.6px;
  }
}

/* WELCOME MESSAGE */
.message-container {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
}

#message {
  color: #343434;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
}

/* COUNTDOWN TIMER */
.time-container {
  display: flex;
  width: 360px;
  height: 80px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #f7e8f6;
  margin: 16px;
}
#timer {
  color: #c04abc;
  text-align: center;
  font-family: Lato;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 12.8px;
}

/* GRIDS */
.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.grid-item {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border: 5px solid #343434;
  background: #f1f0f9;
  color: #343434;
  text-align: center;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  width: 360px;
  height: 80px;
  margin: 8px;
}

/* ANSWER CONTAINER  */

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 360px;
  margin: 16px;
  gap: 8px;
}

#wordinput {
  display: flex;
  width: 65%;
  height: 48px;
  padding: 8px 16px 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 10px;
  background: #f1f0f9;
  font-family: lato;
  font-size: 20px;
}

#submitanswer {
  display: flex;
  width: 35%;
  height: 48px;
  padding: 8px 16px 8px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: #c04abc;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: right;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

/* ERROR CONTAINER & MESSAGE */

.error-container {
  display: flex;
  height: 24px;
  width: 360px;
  position: relative;
}

#errormessage {
  font-size: 16px;
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* RESULTS */

.result-style {
  position: fixed;
  width: 600px;
  height: fit-content;
  border-radius: 10px;
  background: #fff;
  padding: 48px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
}

.correct-style {
  text-transform: uppercase;
  font-weight: 800;
  /* background-color: #acd8aa; */
  letter-spacing: 2px;
}

.result-text-container {
  display: flex;
  margin: 8px;
  padding: 8px;
  gap: 0px;
  /* border: solid 2px black; */
  width: 100%;
  height: fit-content;
  align-items: left;
}

.result-text {
  color: #343434;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 1px;
  margin: 0px;
}

/* TEXT */
h3 {
  color: #000;
  text-align: left;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin: 8px;
}
